#!/usr/bin/python

# See README.md for instructions on how to fill in these settings.

files_dir = './' # '/Users/[username]/Desktop' puts CSVs on OSX desktop.
redshift_import = False # If False, skip S3 and Redshift import.
test = False # adds _test to tablename and CSV name

# Facebook Graph API settings
fb_version = 'v2.7'
fb_page_id = '' # For www.facebook.com/lovecats, fb_page_id = lovecats
fb_long_token = '' # See README.md
post_limit = '100' # Positive integer. Limit data returned from API.
video_name_key = '' # Use to find video lists IDs with names matching a string

# Facebook user access settings
user_access_token = ''
client_id = ''
client_secret = ''

# Create a parameter dictionary for each data CSV.
# See README.md for details. Example dictionaries:
posts = {}
posts['interval'] = 'month'
posts['import_type'] = 'posts'
posts['filename'] = 'fb_posts.csv'
posts['tablename'] = 'facebook.posts'
posts['columns'] = [
    'post_id', 'message', 'created_time', 'likes',
    'shares','comments', 'total_reach', 'link_clicks'
    ]
posts['primary_key'] = 'post_id'

videos = {}
videos['interval'] = False
videos['import_type'] = 'videos'
videos['filename'] = 'fb_videos.csv'
videos['tablename'] = 'facebook.videos'
videos['columns'] = ['video_id', 'title', 'description',
    'created_time', 'video_length', 'likes', 'comments', 'reactions',
    'shares', 'reach', 'ms_viewed ', 'total_views', 'unique_viewers',
    'views_10sec', 'views_30sec', 'views_95pct', 'avg_sec_watched',
    'avg_completion', 'page_owned_views', 'shared_views', 
    'views_autoplayed', 'views_clicked_to_play', 'views_organic', 
    'views_organic_unique', 'views_paid', 'views_paid_unique',
    'views_sound_on', 'complete_views', 'complete_views_unique',
    'complete_views_auto_played', 'complete_views_clicked_to_play',
    'complete_views_organic', 'complete_views_organic_unique',
    'complete_views_paid', 'complete_views_paid_unique',
    'views_10s_auto_played', 'views_10s_clicked_to_play',
    'views_10s_organic', 'views_10s_paid', 'views_10s_sound_on',
    'avg_time_watched', 'view_total_time_organic', 'view_total_time_paid',
    'impressions', 'impressions_paid_unique', 'impressions_paid',
    'impressions_organic_unique', 'impressions_organic',
    'impressions_viral_unique', 'impressions_viral', 'impressions_fan_unique',
    'impressions_fan', 'impressions_fan_paid_unique', 'impressions_fan_paid'
    ]
videos['primary_key'] = 'video_id'

video_demographics = {}
video_demographics['interval'] = False
video_demographics['import_type'] = 'video_viewer_demographics'
video_demographics['filename'] = 'fb_video_viewer_demographics.csv'
video_demographics['tablename'] = 'facebook.video_viewer_demographics'
video_demographics['columns'] = ['video_id', 'U13_17', 'U18_24', 'U25_34',
    'U35_44', 'U45_54', 'U55_64', 'U65_over', 'F13_17', 'F18_24', 'F25_34',
    'F35_44', 'F45_54', 'F55_64', 'F65_over', 'M13_17', 'M18_24', 'M25_34',
    'M35_44', 'M45_54', 'M55_64', 'M65_over', 'region_1_name', 'region_1_views',
    'region_2_name', 'region_2_views', 'region_3_name', 'region_3_views',
    'region_4_name', 'region_4_views', 'region_5_name', 'region_5_views',
    'region_6_name', 'region_6_views', 'region_7_name', 'region_7_views',
    'region_8_name', 'region_8_views', 'region_9_name', 'region_9_views',
    'region_10_name', 'region_10_views', 'region_11_name', 'region_11_views',
    'region_12_name', 'region_12_views', 'region_13_name', 'region_13_views',
    'region_14_name', 'region_14_views', 'region_15_name', 'region_15_views',
    'region_16_name', 'region_16_views', 'region_17_name', 'region_17_views',
    'region_18_name', 'region_18_views', 'region_19_name', 'region_19_views',
    'region_20_name', 'region_20_views', 'region_21_name', 'region_21_views',
    'region_22_name', 'region_22_views', 'region_23_name', 'region_23_views',
    'region_24_name', 'region_24_views', 'region_25_name', 'region_25_views',
    'region_26_name', 'region_26_views', 'region_27_name', 'region_27_views',
    'region_28_name', 'region_28_views', 'region_29_name', 'region_29_views',
    'region_30_name', 'region_30_views', 'region_31_name', 'region_31_views',
    'region_32_name', 'region_32_views', 'region_33_name', 'region_33_views',
    'region_34_name', 'region_34_views', 'region_35_name', 'region_35_views',
    'region_36_name', 'region_36_views', 'region_37_name', 'region_37_views',
    'region_38_name', 'region_38_views', 'region_39_name', 'region_39_views',
    'region_40_name', 'region_40_views', 'region_41_name', 'region_41_views',
    'region_42_name', 'region_42_views', 'region_43_name', 'region_43_views',
    'region_44_name', 'region_44_views', 'region_45_name', 'region_45_views'
    ]
video_demographics['primary_key'] = 'video_id'

video_list = {}
video_list['interval'] = False
video_list['import_type'] = 'video_list'
video_list['filename'] = 'fb_video_list.csv'
video_list['tablename'] = 'facebook.video_list'
video_list['columns'] = ['video_id', 'title', 'description',
    'created_time', 'video_length', 'likes', 'comments', 'reactions',
    'shares', 'reach', 'ms_viewed ', 'total_views', 'unique_viewers',
    'views_10sec', 'views_30sec', 'views_95pct', 'avg_sec_watched',
    'avg_completion', 'page_owned_views', 'shared_views', 
    'views_autoplayed', 'views_clicked_to_play', 'views_organic', 
    'views_organic_unique', 'views_paid', 'views_paid_unique',
    'views_sound_on', 'complete_views', 'complete_views_unique',
    'complete_views_auto_played', 'complete_views_clicked_to_play',
    'complete_views_organic', 'complete_views_organic_unique',
    'complete_views_paid', 'complete_views_paid_unique',
    'views_10s_auto_played', 'views_10s_clicked_to_play',
    'views_10s_organic', 'views_10s_paid', 'views_10s_sound_on',
    'avg_time_watched', 'view_total_time_organic', 'view_total_time_paid',
    'impressions', 'impressions_paid_unique', 'impressions_paid',
    'impressions_organic_unique', 'impressions_organic',
    'impressions_viral_unique', 'impressions_viral', 'impressions_fan_unique',
    'impressions_fan', 'impressions_fan_paid_unique', 'impressions_fan_paid'
    ]
video_list['primary_key'] = 'video_id'
video_list['list_id'] = ''
video_lab_videos['video_name_key'] = fb_video_name_key

video_list_demographics = {}
video_list_demographics['interval'] = False
video_list_demographics['import_type'] = 'video_list_viewer_demographics'
video_list_demographics['filename'] = 'fb_video_list_viewer_demographics.csv'
video_list_demographics['tablename'] = 'facebook.video_lab_views_demographics'
video_list_demographics['columns'] = ['video_id', 'U13_17', 'U18_24', 'U25_34',
    'U35_44', 'U45_54', 'U55_64', 'U65_over', 'F13_17', 'F18_24', 'F25_34',
    'F35_44', 'F45_54', 'F55_64', 'F65_over', 'M13_17', 'M18_24', 'M25_34',
    'M35_44', 'M45_54', 'M55_64', 'M65_over', 'region_1_name', 'region_1_views',
    'region_2_name', 'region_2_views', 'region_3_name', 'region_3_views',
    'region_4_name', 'region_4_views', 'region_5_name', 'region_5_views',
    'region_6_name', 'region_6_views', 'region_7_name', 'region_7_views',
    'region_8_name', 'region_8_views', 'region_9_name', 'region_9_views',
    'region_10_name', 'region_10_views', 'region_11_name', 'region_11_views',
    'region_12_name', 'region_12_views', 'region_13_name', 'region_13_views',
    'region_14_name', 'region_14_views', 'region_15_name', 'region_15_views',
    'region_16_name', 'region_16_views', 'region_17_name', 'region_17_views',
    'region_18_name', 'region_18_views', 'region_19_name', 'region_19_views',
    'region_20_name', 'region_20_views', 'region_21_name', 'region_21_views',
    'region_22_name', 'region_22_views', 'region_23_name', 'region_23_views',
    'region_24_name', 'region_24_views', 'region_25_name', 'region_25_views',
    'region_26_name', 'region_26_views', 'region_27_name', 'region_27_views',
    'region_28_name', 'region_28_views', 'region_29_name', 'region_29_views',
    'region_30_name', 'region_30_views', 'region_31_name', 'region_31_views',
    'region_32_name', 'region_32_views', 'region_33_name', 'region_33_views',
    'region_34_name', 'region_34_views', 'region_35_name', 'region_35_views',
    'region_36_name', 'region_36_views', 'region_37_name', 'region_37_views',
    'region_38_name', 'region_38_views', 'region_39_name', 'region_39_views',
    'region_40_name', 'region_40_views', 'region_41_name', 'region_41_views',
    'region_42_name', 'region_42_views', 'region_43_name', 'region_43_views',
    'region_44_name', 'region_44_views', 'region_45_name', 'region_45_views'
    ]
video_list_demographics['primary_key'] = 'video_id'
video_list_demographics['list_id'] = ''
video_lab_videos['video_name_key'] = fb_video_name_key

# Include only dictionaries for desired data.
data_types = [posts, videos, video_demographics] 

# OPTIONAL AWS settings
aws_access_key = ''
aws_secret_key = ''
s3_bucket = ''
s3_bucket_dir = 'fb_data'

# OPTIONAL Redshift db settings
db_user = ''
db_host = 'host:port'
db_pwd = ''
db_name = ''

# OPTIONAL for fb_video_time_series.py only
time_series_start_date = 'YYYY-mm-DD HH:MM:00'
