#!/usr/bin/python

# Redshift db settings
db_user = ''
db_host = 'host:port'
db_pwd = ''
db_name = ''

# Facebook Graph API settings
fb_version = 'v2.6'
fb_page_id = ''
fb_client_id = ''
fb_client_secret = ''
fb_long_token = ''

# AWS settings
aws_access_key = ''
aws_secret_key = ''
s3_bucket = ''